body {
    background-color: #B2EBF2;
}

.Main {
    background-color: #B2EBF2;
    font-family: cursive, 'Sacramento';
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

h1,
h3 {
    color: #00BCD4;
    background-color: #158467;
}